@model HelloAjax.Models.Greeting

@{
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "result",
        OnFailure = "handleAjaxFailure"
    };
}

@using (Ajax.BeginForm(ajaxOptions))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.EditorFor(model => model.Message)
        @Html.ValidationMessageFor(model => model.Message)
    </div>

    <div class="form-group">
        <input type="submit" value="Posta hälsning" />
    </div>
}

<div id="result">
    @Html.Partial("_Greeting")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")

    <script>
        function handleAjaxFailure(ajaxContext) {
            $("#result").html("<span  class='field-validation-error'>" + ajaxContext.responseText + "</span>");
        }
    </script>
}