@model NextBirthday._0.Models.Version_6.Birthday

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nästa födelsedag!</title>
</head>
<body>
    <h1>
        Nästa födelsedag!
    </h1>
    <p>
        @Model.Name kommer att fylla @Model.Age år på en @Model.NextBirthdayDate.ToString("dddd")
        om @Model.DaysUntilNextBirthday dagar.
    </p>
    <p>
        @Html.ActionLink("Tillbaka", "Index")
    </p>
</body>
</html>
