@model GeekGuestbook.Models.Message

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Have your say</title>
</head>
<body>
    <h1>
        Have your say
    </h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="editor-label">
            @Html.LabelFor(model => model.Header)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Header, new { maxLength = 50, size = 50 })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body, new { cols = 39, rows = 5 })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name, new { maxLength = 50, size = 50 })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email, new { maxLength = 50, size = 50 })
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
