@model GeekTweet.ViewModels.TwitterViewModel

@{
    ViewBag.Title = "GeekTweet";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Getting tweets was unsuccessful. Please correct any errors and try again.");
    <div class="editor-label">
        @Html.LabelFor(model => model.ScreenName):
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ScreenName)
    </div>
    <div>
        <input type="submit" value="Get Tweets" />
    </div>
}
@if (Model != null && Model.Tweets != null && Model.Tweets.Any())
{
    <div id="tweets">
@*        <h2>
            The Latest Tweets by @Model.Tweets[0].Name</h2>*@
        @foreach (var tweet in Model.Tweets)
        {
            <h3>
                @tweet.CreatedAt.ToString(System.Globalization.CultureInfo.InvariantCulture)</h3>
            <p>
                @tweet.Text</p>
        }
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
