@model NextBirthdayCRUD.Models.Birthday

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.BirthdayId)
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Birthdate)
        @Html.EditorFor(model => model.Birthdate)
        @Html.ValidationMessageFor(model => model.Birthdate)
    </div>

    <div class="form-group">
        <input type="submit" value="Spara" />
    </div>
}

<div>
    @Html.ActionLink("Tillbaka till listan", "Index")
</div>