@model GeekTweet.ViewModels.TwitterIndexViewModel

@{
    ViewBag.Title = "IndexApiGet";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Getting tweets was unsuccessful. Please correct any errors and try again.");
    <div class="editor-label">
        @Html.LabelFor(m => m.ScreenName):
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.ScreenName)
        @Html.ValidationMessageFor(m => m.ScreenName)
    </div>
    <div>
        <input type="submit" value="Get Tweets" />
    </div>
}
@if (Model != null && Model.HasTweets)
{
    <div id="tweets">
        <h1>
            The Latest Tweets by @Model.Name
        </h1>
        @Html.DisplayFor(m => m.Tweets)
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(function () {
            $("#ScreenName").autocomplete({
                source: function (request, response) {
                    //Define a function to call the action. 
                    $.ajax({
                        url: "http://localhost:5153/api/screenname",
                        data: { id: request.term },
                        dataType: "json",
                        type: "GET",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { value: item };
                            }))
                        }
                    })
                },
                //Require atleast one character from the user.
                minLength: 1
            });
        });    </script>
}
