@model HelloAjax.Models.Greeting

@{
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "result",
        OnSuccess = "handleAjaxSuccess",
        OnFailure = "handleAjaxFailure"
    };
}

@using (Ajax.BeginForm(ajaxOptions))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.EditorFor(model => model.Message)
        @Html.ValidationMessageFor(model => model.Message)
    </div>

    <div class="form-group">
        <input type="submit" value="Posta hälsning" />
    </div>
}

<div id="result">
    @Html.Partial("_Greeting")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")

    <script>
        function handleAjaxSuccess(ajaxContext) {
            // Remove all none property errors.
            if ($('div[data-valmsg-summary="true"]').length !== 0) {
                if ($('div[data-valmsg-summary="true"]').hasClass("validation-summary-errors")) {
                    $('div[data-valmsg-summary="true"]').removeClass("validation-summary-errors");
                    $('div[data-valmsg-summary="true"]').addClass("validation-summary-valid");
                }
                $('div[data-valmsg-summary="true"] ul').empty();
            }
        }

        function handleAjaxFailure(ajaxContext) {
            // Empty the ajax target element.
            $('#result').empty();

            // Convert the response text, a JSON string, into a dictionary.
            var errors = JSON.parse(ajaxContext.responseText)["Errors"];

            // Show none property errors. Insert validation summary elements, if we need to, 
            // and append modelstate errors to the validation summary.
            if (errors[""] !== undefined) {
                if ($('div[data-valmsg-summary="true"]').length === 0) {
                    $('form').prepend('<div class="validation-summary-errors" data-valmsg-summary="true"><ul></ul></div>');
                }
                else if ($('div[data-valmsg-summary="true"]').hasClass("validation-summary-valid")) {
                    $('div[data-valmsg-summary="true"]').removeClass("validation-summary-valid");
                    $('div[data-valmsg-summary="true"]').addClass("validation-summary-errors");
                }
                $('div[data-valmsg-summary="true"] ul').empty();
                for (var i in errors[""]) {
                    $('div[data-valmsg-summary="true"] ul').append("<li>" + errors[""][i] + "</li>");
                }
                delete errors[""];
            }

            // Show property errors.
            $('form').validate().showErrors(errors);
        }
    </script>
}
